<!-- <h1 class="container">{{ MyName }}</h1>

<p>
  Name = {{ PersonalDetails[0] }} <br>
  Company Name = {{ PersonalDetails[1]}}<br>
  City = {{ PersonalDetails[2] }} <br>
  Mobile = {{ PersonalDetails[3] }} <br>
</p>

<ol>
  <li *ngFor="let city of CityNames">
    <span *ngIf="city == 'Pune'">I Love </span>{{ city }}
  </li>
</ol>
<img [src]="imgPath" height="300">


<p style="color: red;" >Hii</p>

<p [style]="AngularStyle"
  (click)="DemoFunction()">
  Hello
</p>

<h5>{{ MyName }}</h5>

<h5 [style]="AngularStyle"> Attribute Binding </h5>

<h5 (click)="DemoFunction()">Event Binding</h5>
 -->


<p>
{{ detailsObj.FirstName }}
</p>
